.footer {
  background-color: #1c1c1c;
  color: #fff;
  padding: 32px 0 40px;

  @media (min-width: 820px) {
    padding-top: 40px;
  }
}

.container {
  display: grid;
  gap: 24px;

  @media (min-width: 580px) {
    grid-template-columns: 1fr 1fr;
  }

  @media (min-width: 820px) {
    gap: 32px;
  }
}

.linkLogoFooter {
  width: 230px;

  &:focus-visible {
    outline-color: #fff;
  }

  @media (min-width: 580px) {
    grid-column: 1/2;
  }

  @media (min-width: 820px) {
    width: 330px;
  }
}

.copyright {
  @media (min-width: 580px) {
    grid-column: 1/2;
  }
}
