.navigation {
  grid-area: navigation;
  justify-self: end;
  display: flex;
  gap: 16px;
}

.link {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  gap: 4px;

  border-radius: 4px;
  outline-offset: 4px;
  outline: 1px solid transparent;
  transition: 0.3s all;

  &:hover,
  &:active {
    color: #780096;
  }

  &:focus-visible {
    color: #780096;
    outline-color: #780096;
  }

  &:active {
    color: #cc00ff;
  }

  @media (min-width: 580px) {
    flex-direction: row;
  }
}

.linkText {
  display: none;

  @media (min-width: 580px) {
    display: block;
  }
}
